body,html{
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
/*!**/
/*Refrence:http://stackoverflow.com/questions/3802455/min-width-in-window-resizing*/

/*body{*/
    /*min-width:560px; !* suppose you want minimun width of 1000px *!*/
    /*width: auto !important;  !* Firefox will set width as auto *!*/
/*}*/


.firstBackground, .secondBackground, .thirdBackground{
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-size: cover;
}

.firstBackground{
    background-color: whitesmoke;
    height:100%;

}
.firstBackgroundChat{
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-size: cover;
    background-color: whitesmoke;
}
.whatIsIiziBang{
    text-align:center;
    color: white
}

.whatIsIiziBangLine2{
    text-align: center
}

.whatIsIiziBangLine1{
    text-align: center
}
.whatIsIiziBangLine3{
    text-align: center
}
.reasons{
    text-align:center;
    color: white;
    font-size: 25px;
}
.reasonsText1{
    text-align: center;
    font-size: 15px;
}
.reasonsText2{
    text-align: center;
    font-size: 15px;
}
.reasonsText3{
    text-align: center;
    font-size: 15px;
}
.firstSpace{
    color: #777;
    background-color:black;
    text-align: center;
    padding:50px 80px;
    text-align:justify;

}
.secondSpace{
    color: #777;
    background-color:black;
    text-align:center;
    padding:50px 80px;
    text-align:justify;
}

.firstBackground > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.secondBackground{
    background-image: url("../pictures/bigimage2.jpg");
    min-height: 100%;
}
.thirdBackground{
    background-image: url("../pictures/bigimage3.jpg");
    min-height: 100%;
}
.caption{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption span.borderFirst{
    background-color:transparent;
    font-size:25px;
    color:#f7f7f7;
    letter-spacing: 10px;
    padding: 18px;
}
.caption span.borderSecond{
    background-color:black;
    font-size:35px;
    color:#f7f7f7;
    letter-spacing: 10px;
    padding: 18px;
}
.endOfPageSpace{
    color: #777;
    background-color:black;
    text-align:center;
    padding:50px 80px;
}
.signUpText{
    text-align:center;
    color: white;
    padding-bottom: 20px;
}
.flexContainerToLeft {
    display:flex;
    padding-top: 8px;
    padding-right: 8px;
    justify-content: flex-end;
}
.loader {
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.oneColumn{
    display: flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: auto;
    top: 50%;
    left: 50%;
    right: 50%;
    position:absolute;

}
.registration {
    /*http://www.sketchingwithcss.com/samplechapter/cheatsheet.html*/
    background: whitesmoke;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: auto;
    border: 3px rgba(0,0,0,1) solid;
    padding: 30px;
}

.registration > div {
    width: 100%;
    max-width: 250px;
}
.clickHereButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.whiteText{
    color:white;
}

.registration > div > input {
    width: 100%;
}

.registration > img{
    top: auto;
    opacity: 0.65;
}
.registration-input{
    padding: 8px;
}
.registration-input-container{
    padding: 8px;
}
.registration-container{
    display: flex;


}
.gender-orienatation{
    display:flex;

}
.birthDay{
    display: flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
}
.ghost-buttonSignUp, .ghost-buttonLogIn{
    display: inline-block;
    width: 200px;
    padding: 8px;
    margin:0 8px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    outline: none;
    text-decoration: none;
    right: 10px;
    top: 5px;
}


.ghost-buttonSignUp:hover,
.ghost-buttonSignUp:active ,
.ghost-buttonLogIn:hover ,
.ghost-buttonLogIn:active{
    background-color: black;
    color: white;
}
.ghost-buttonLogIn{
    width: 100%;
    margin: 0 0px;
}
h3{
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}
.registrationButton{
    left:50%;
    margin: 0 auto;
    font: 20px "Lato", sans-serif;
    color: white;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font: 400 15px/1.8 "Lato", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.login-input{
    padding: 5px;
}
.login-input-container{
    padding: 8px;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
.forgot-password{
    background: whitesmoke;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: auto;
}
.forgot-password-text{
    letter-spacing: 0px;
    font: 12px "Lato", sans-serif;
}
.sexual-interest, .gender{
    display:flex;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
}

.upperBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: center;
    border: 3px rgba(0,0,0,1) solid;
    width:100%;
}
.upperBarElement,.ageText,.nameText,.profileUsername{
    font-size: 3vw;
}
@media screen and (min-width: 660px) {
    /*.upperBarElement{
        padding: 15px 32px;
    }*/
    .upperBarElement,.ageText,.nameText,.profileUsername{
        font-size: 20px;
    }

}
.chatOption{
    padding-right: 12px;
}
/*.matchMakerOption{*/
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
/*}*/
.settingsOption{
    padding-left:12px;
}
.noUnderline{
    text-decoration: none;
}
.columnizeEverything{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.userName{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.additionalInfo{
    display:flex;
}
.userPic{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 3px rgba(0,0,0,1) solid;
    padding-top: 64px;
    margin: auto;
}
.firstAndLastName,.age{
    padding: 12px;
}
.buttonsOfApproval{
    display: flex;
    flex-direction: row;
    margin:auto;

}
.disLikeButton{
    width: 75%;
    margin-right: auto;
    display:flex;
    justify-content: center;
    padding: 20px;
}
.likeButton{
    width: 75%;
    margin-left: auto;
    display:flex;
    justify-content: center;
    padding: 20px;
}
.pic, .picLogo{
    border: 3px rgba(0,0,0,1) solid;
    padding: 12px;
    margin: auto;
}

.picLogo{
    width: 480px;
    height: 480px;
}
.userProfilePic{
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.profilePic{
    max-width:100%;
    max-height:100%;
}
.disLikeButtonReSize{
    height: 100%;
    width: 20%;
}

.profile{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.viewProfile{
    display:flex;
    justify-content: center;
    padding: 10px;
}
.padded {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}
.passwordHelp {
    position: relative;
    height: 100%;
    width: 20%;
}
.popup {
    display: none;
    position: absolute;
    background: #000;
    opacity: 0.85;
    border-radius: 5px;
    width: 400px;
    height:50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: -105px;
    margin-left: -290px;
    color: #1E90FF;
    z-index: 1;
    padding:12px;
}
.popup:before{
    content: "";
    position: absolute;
    top: 60px;
    left: -25px;
    z-index: 2;
    border: solid 15px transparent;
    color: #1E90FF;
    pointer-events: none;
}
.pic {
    z-index: 0;
    width: 20%;
    height: 20%;
}
.pic:hover + .popup {
    display: block;
}
.account{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center
}
.chatBoxes{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 20px;
    margin: 10px auto;
}
.chatBox{
    max-width: 500px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding:12px;
    border: 3px rgba(0,0,0,1) solid;
}
.pictureOfInterest{
    width: 64px;
    height: 64px;
    border: 3px rgba(0,0,0,1) solid;

}
.interestInfo{
    display: flex;
    flex-direction:column;
    margin:auto;
}
.interestName, .interestLastMessage{
    display:flex;
    justify-content: center;
    padding-left: 10px;
}

.interestLastMessage{
    opacity: 0.5;
}
.chatText{
    margin-top:auto;

}

.signInWithGoogle{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
