body {
    background: url('pictures/4uojmedcwi8-tim-bogdanov.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: white;
}
